body {
	background-color:rgb(218,239,242);
	}
	
h1 {
	text-align:center;
}
	
.bold {
	font-size:20px;
	font-weight: bold;
}

.center {
	text-align:center;
}

table {
	padding:8px;
	width:200px;
}

tr:nth-child(even) {
	background-color:lightgray;
}

tr:nth-child(odd) {
	background-color:white;
}

.thead {
	background-color:rgb(204,255,255);
	font-style:italic;
}