body {
	background-color:#ede4cc;
}

/* header */
.navbar {
	background-color: #e3c1cb;
	border-radius: 0;
	padding: 20px;
	
	
}

.container {
	width: 100%;
}

.navbar-brand {
	padding-top: 5px;
	
}

.navbar-brand h1{
	color: #fcfcfc;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	font-weight: bold;

}


.list-items {
	font-size: 1.5em;
}
/*body*/
.content {
	font-size: 0.8em;
height: 1000px;
}

h3 {
	padding-top: 25px;
}

 div .inner { 
	 background-color: #fae8e8;
	 margin-right: auto;
	 margin-left: auto;
	 height: 1000px;
	 
 }


@media (max-width: 768px) {
	div .inner {
		width: 80%;
	}
}